<ion-view title="Add New Contact" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="addNewContact-form4" class="list">
      <label class="item item-input" id="addNewContact-input6">
        <span class="input-label">Nane</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addNewContact-input7">
        <span class="input-label">Contact No</span>
        <input type="tel" placeholder="">
      </label>
      <label class="item item-input" id="addNewContact-input8">
        <span class="input-label">Organization</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="addNewContact-button3" class="button button-positive button-block">Save</button>
  </ion-content>
</ion-view>