<ion-view title="Phone Book" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="phoneBook-list3">
      <ion-item class="item-avatar item-icon-right calm" id="phoneBook-list-item2">
        <h2calm>Item
          <i class="icon ion-android-person-add"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2calm>
      </ion-item>
    </ion-list>
    <a ui-sref="addNewContact()" id="phoneBook-button4" class="button button-positive button-block">Add New Contact</a>
  </ion-content>
</ion-view>